In [1]:
from module.connectors import get_df_from_postgres, ddl_on_postgres

In [2]:
df = get_df_from_postgres("SELECT * FROM nyc_taxi.nyc_taxi_agg_table LIMIT 5")
display(df)

,date_month,year,month,day_of_week,time_of_day,pulocationid,trip_count,total_revenue,avg_revenue,avg_duration,avg_distance,avg_speed,avg_tip_ratio,tip_probability,avg_passengers,avg_efficiency
0,2022-03-01,2022,3,3,–î–µ–Ω—å,161,10021,176047.33,17.567841,14.881506,2.181883,12.810100,0.210130,0.763696,1.313941,1.328225
1,2022-03-01,2022,3,3,–í–µ—á–µ—Ä,262,1588,27347.96,17.221637,11.563308,2.312790,18.772555,0.231688,0.812972,1.280227,1.866740
2,2022-03-01,2022,3,4,–£—Ç—Ä–æ,24,732,13281.63,18.144303,15.216872,2.804986,17.931714,0.197625,0.789617,1.274590,1.339882
3,2022-03-01,2022,3,3,–£—Ç—Ä–æ,254,12,567.85,47.320833,39.469444,11.066667,26.557805,0.000000,0.000000,1.000000,1.263949
4,2022-03-01,2022,3,4,–í–µ—á–µ—Ä,166,864,15290.50,17.697338,13.579591,2.714213,18.253560,0.207913,0.802083,1.268519,1.449197

In [5]:
ddl_on_postgres("CREATE SCHEMA IF NOT EXISTS testovoe_ololo")

DDL —Å–∫—Ä–∏–ø—Ç –≤—ã–ø–æ–ª–Ω–µ–Ω —É—Å–ø–µ—à–Ω–æ

### Spark —Å–µ—Å—Å–∏—è

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

drivers = [
    "/home/jovyan/work/spark-jars/hadoop-aws-3.3.4.jar",             # S3
    "/home/jovyan/work/spark-jars/aws-java-sdk-bundle-1.12.262.jar", # S3
    "/home/jovyan/work/spark-jars/wildfly-openssl-1.0.7.Final.jar",  # S3
    "/home/jovyan/work/spark-jars/postgresql-42.6.0.jar",            # PostgreSQL
]

spark = (SparkSession.builder
         .appName("mustdayker-Spark2")
         .master("spark://spark-master:7077") 
         .config("spark.jars", ",".join(drivers))
         .getOrCreate()
        )

### –ß–∏—Ç–∞–µ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º

In [ ]:
df_2023_01 = spark.read.parquet("s3a://silver/nyc-taxi-data/yellow_tripdata_2023-01")

In [ ]:
df_2024_01 = spark.read.parquet("s3a://bronze/nyc-taxi-data/yellow_tripdata_2024-01.parquet")
df_2025_01 = spark.read.parquet("s3a://bronze/nyc-taxi-data/yellow_tripdata_2025-01.parquet")

In [ ]:
layer = "silver"

df = (spark.read
      .format("parquet")
      .option("mergeSchema", "true")
      .load([
          f"s3a://{layer}/nyc-taxi-data/yellow_tripdata_2023-*",
          f"s3a://{layer}/nyc-taxi-data/yellow_tripdata_2024-*",
          f"s3a://{layer}/nyc-taxi-data/yellow_tripdata_2025-*",
      ])
     )

In [ ]:
print(f"–ö–æ–ª–∏—á–µ—Ç—Å–≤–æ —Å—Ç—Ä–æ–∫: {df_2023_01.count()}\n")

In [ ]:
df.show(1)

In [ ]:
print(f"–ö–æ–ª–∏—á–µ—Ç—Å–≤–æ —Å—Ç—Ä–æ–∫: {df.count()}\n")

(df.withColumn("year",  F.year("tpep_pickup_datetime"))
   .withColumn("month", F.month("tpep_pickup_datetime"))
   .select("year", 
           "month", 
           "VendorID",
           "tpep_pickup_datetime", 
           "passenger_count", 
           "trip_distance",
           "airport_fee",
          )
   .groupBy("year", "month")
   .agg(
       F.count("*").alias("total_records"),
       F.sum("airport_fee").alias("–û–±–¥–∏—Ä–∞–ª–æ–≤–∫–∞"),
       )
   .orderBy("year", "month")
   .show(50)
)

### –ò—Å—Å–ª–µ–¥—É–µ–º

In [ ]:
from pyspark.sql import functions as F
from pyspark.sql.types import DoubleType, IntegerType

def standardize_nyc_taxi_data(input_path, output_path):
    """
    –°—Ç–∞–Ω–¥–∞—Ä—Ç–∏–∑–∏—Ä—É–µ—Ç –¥–∞–Ω–Ω—ã–µ NYC Taxi:
    - –ü—Ä–∏–≤–æ–¥–∏—Ç –≤—Å–µ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É
    - –ü—Ä–∏–≤–æ–¥–∏—Ç —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –∫ —É–Ω–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞–Ω–Ω—ã–º
    - –°–æ—Ö—Ä–∞–Ω—è–µ—Ç –≤ —É–∫–∞–∑–∞–Ω–Ω—ã–π –ø—É—Ç—å
    """

    output_path = output_path.replace('.parquet', '')
    
    # –ß–∏—Ç–∞–µ–º –∏—Å—Ö–æ–¥–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ
    df = spark.read.parquet(input_path)
    
    # 1. –ü—Ä–∏–≤–æ–¥–∏–º –≤—Å–µ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É
    for col_name in df.columns:
        df = df.withColumnRenamed(col_name, col_name.lower())
    
    # 2. –û–ø—Ä–µ–¥–µ–ª—è–µ–º –º–∞–ø–ø–∏–Ω–≥ —Ç–∏–ø–æ–≤ –¥–ª—è —É–Ω–∏—Ñ–∏–∫–∞—Ü–∏–∏
    type_mapping = {
        # –ß–∏—Å–ª–æ–≤—ã–µ –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—ã - –≤ Integer
        "vendorid": IntegerType(),
        "pulocationid": IntegerType(), 
        "dolocationid": IntegerType(),
        "payment_type": IntegerType(),
        "ratecodeid": IntegerType(),
        
        # –ü–∞—Å—Å–∞–∂–∏—Ä—ã - –≤ Integer (–±–æ–ª–µ–µ –ª–æ–≥–∏—á–Ω–æ)
        "passenger_count": IntegerType(),
        
        # –î–µ–Ω–µ–∂–Ω—ã–µ —Å—É–º–º—ã - –≤ Double (–¥–ª—è —Ç–æ—á–Ω–æ—Å—Ç–∏)
        "fare_amount": DoubleType(),
        "extra": DoubleType(),
        "mta_tax": DoubleType(),
        "tip_amount": DoubleType(),
        "tolls_amount": DoubleType(),
        "improvement_surcharge": DoubleType(),
        "total_amount": DoubleType(),
        "congestion_surcharge": DoubleType(),
        "airport_fee": DoubleType(),
        "cbd_congestion_fee": DoubleType(),
        
        # –î–∏—Å—Ç–∞–Ω—Ü–∏—è - –≤ Double
        "trip_distance": DoubleType()
    }
    
    # 3. –ü—Ä–∏–º–µ–Ω—è–µ–º –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ —Ç–∏–ø–æ–≤ —Å –æ–±—Ä–∞–±–æ—Ç–∫–æ–π –æ—à–∏–±–æ–∫
    for col_name, target_type in type_mapping.items():
        if col_name in df.columns:
            df = df.withColumn(
                col_name, 
                F.coalesce(
                    F.col(col_name).cast(target_type), 
                    F.lit(0 if target_type == IntegerType() else 0.0)
                )
            )
    
    # 4. –ì–∞—Ä–∞–Ω—Ç–∏—Ä—É–µ–º –ø–æ—Ä—è–¥–æ–∫ –∫–æ–ª–æ–Ω–æ–∫ –¥–ª—è consistency
    expected_columns = [
        "vendorid", "tpep_pickup_datetime", "tpep_dropoff_datetime",
        "passenger_count", "trip_distance", "ratecodeid", "store_and_fwd_flag",
        "pulocationid", "dolocationid", "payment_type", "fare_amount", "extra",
        "mta_tax", "tip_amount", "tolls_amount", "improvement_surcharge",
        "total_amount", "congestion_surcharge", "airport_fee", "cbd_congestion_fee"
    ]
    
    # –í—ã–±–∏—Ä–∞–µ–º —Ç–æ–ª—å–∫–æ —Å—É—â–µ—Å—Ç–≤—É—é—â–∏–µ –∫–æ–ª–æ–Ω–∫–∏ –≤ –ø—Ä–∞–≤–∏–ª—å–Ω–æ–º –ø–æ—Ä—è–¥–∫–µ
    final_columns = [col for col in expected_columns if col in df.columns]
    df_standardized = df.select(final_columns)
    
    # 5. –°–æ—Ö—Ä–∞–Ω—è–µ–º —Å –æ–ø—Ç–∏–º–∞–ª—å–Ω—ã–º–∏ –Ω–∞—Å—Ç—Ä–æ–π–∫–∞–º–∏
    (df_standardized
     .coalesce(1)
     .write
     .mode("overwrite")
     .option("compression", "snappy")  # —Ö–æ—Ä–æ—à–∏–π –±–∞–ª–∞–Ω—Å —Å–∫–æ—Ä–æ—Å—Ç—å/—Å–∂–∞—Ç–∏–µ
     .parquet(output_path)
    )
    
    print(f"‚úÖ –°—Ç–∞–Ω–¥–∞—Ä—Ç–∏–∑–∏—Ä–æ–≤–∞–Ω–æ: {input_path} -> {output_path}")
    # print(f"üìä –°—Ö–µ–º–∞ –ø–æ—Å–ª–µ —Å—Ç–∞–Ω–¥–∞—Ä—Ç–∏–∑–∞—Ü–∏–∏:")
    # df_standardized.printSchema()
    
    return df_standardized

In [ ]:
# –ü—Ä–∏–º–µ—Ä –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è –¥–ª—è –æ–¥–Ω–æ–≥–æ —Ñ–∞–π–ª–∞
input_path = "s3a://bronze/nyc-taxi-data/yellow_tripdata_2023-01.parquet"
output_path = "s3a://silver/nyc-taxi-data/yellow_tripdata_2023-01.parquet"

standardized_df = standardize_nyc_taxi_data(input_path, output_path)

In [ ]:
def process_all_nyc_taxi_files():
    """–û–±—Ä–∞–±–∞—Ç—ã–≤–∞–µ—Ç –≤—Å–µ —Ñ–∞–π–ª—ã NYC Taxi –∏–∑ Bronze –≤ Silver"""
    
    # –ü–æ–ª—É—á–∞–µ–º —Å–ø–∏—Å–æ–∫ –≤—Å–µ—Ö parquet —Ñ–∞–π–ª–æ–≤ –≤ bronze
    bronze_files = spark.sql(f"""
        SELECT path 
        FROM (
            SELECT input_file_name() as path 
            FROM parquet.`s3a://bronze/nyc-taxi-data/`
        ) 
        GROUP BY path
    """).collect()
    
    print(f"üìÅ –ù–∞–π–¥–µ–Ω–æ —Ñ–∞–π–ª–æ–≤ –¥–ª—è –æ–±—Ä–∞–±–æ—Ç–∫–∏: {len(bronze_files)}")
    
    for i, row in enumerate(bronze_files, 1):
        input_path = row['path']
        # –ò–∑–≤–ª–µ–∫–∞–µ–º –∏–º—è —Ñ–∞–π–ª–∞ –∏–∑ –ø—É—Ç–∏
        file_name = input_path.split('/')[-1]
        output_path = f"s3a://silver/nyc-taxi-data/{file_name}"
        
        print(f"üîÑ –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é ({i}/{len(bronze_files)}): {file_name}")
        
        try:
            standardize_nyc_taxi_data(input_path, output_path)
        except Exception as e:
            print(f"‚ùå –û—à–∏–±–∫–∞ –ø—Ä–∏ –æ–±—Ä–∞–±–æ—Ç–∫–µ {file_name}: {e}")
    
    print("üéâ –í—Å–µ —Ñ–∞–π–ª—ã –æ–±—Ä–∞–±–æ—Ç–∞–Ω—ã!")

In [ ]:
import time

start_time = time.time()

# –ó–∞–ø—É—Å–∫–∞–µ–º –æ–±—Ä–∞–±–æ—Ç–∫—É –≤—Å–µ—Ö —Ñ–∞–π–ª–æ–≤
process_all_nyc_taxi_files()

end_time = time.time()
execution_time = end_time - start_time
print(f"–í—Ä–µ–º—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è: {execution_time:.4f} —Å–µ–∫—É–Ω–¥")

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql import functions as F

def main():
    print("üöÄ Starting test Spark application...")

    # –ü—Ä–æ—Å—Ç–∞—è —Å–µ—Å—Å–∏—è –±–µ–∑ –ª–∏—à–Ω–∏—Ö –∫–æ–Ω—Ñ–∏–≥–æ–≤
    spark = SparkSession.builder \
        .appName("airflow-test-app") \
        .getOrCreate()

    # –°–æ–∑–¥–∞–µ–º —Ç–µ—Å—Ç–æ–≤—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
    schema = StructType([
        StructField("id", IntegerType(), True),
        StructField("name", StringType(), True),
        StructField("value", IntegerType(), True)
    ])

    data = [
        (1, "Alice", 100),
        (2, "Bob", 200),
        (3, "Charlie", 300),
        (4, "David", 400),
        (5, "Eve", 500)
    ]

    df = spark.createDataFrame(data, schema=schema)

    print("‚úÖ Spark session created successfully!")
    print("üìä Test DataFrame:")
    df.show()

    # –ü—Ä–æ—Å—Ç–∞—è –∞–≥—Ä–µ–≥–∞—Ü–∏—è –¥–ª—è –¥–µ–º–æ–Ω—Å—Ç—Ä–∞—Ü–∏–∏
    result = (df
              .groupBy()
              .agg(
                  F.sum("value").alias("summ"),
                  F.avg("value").alias("average"),
                  F.max("name").alias("max_name"),                 
              )
              .collect())
    total_value = result[0][0]
    print(f"üí∞ Total value: {total_value}")

    print(result)
    print(result[0])
    print(result[0][0])
    print(result[0][1])
    
    print("‚úÖ Spark application completed successfully!")
    spark.stop()

if __name__ == "__main__":
    main()

In [ ]:
from pyspark.sql import functions as F
from pyspark.sql.types import DoubleType, IntegerType
import re
from minio import Minio
from minio.error import S3Error
import time

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è MinIO
MINIO_ENDPOINT = 'minio:9000' 
MINIO_ACCESS_KEY = 'minioadmin'
MINIO_SECRET_KEY = 'minioadmin'


spark = SparkSession.builder \
    .appName("airflow-test-app") \
    .getOrCreate()

def get_minio_client():
    """–°–æ–∑–¥–∞–µ—Ç –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –∫–ª–∏–µ–Ω—Ç MinIO"""
    return Minio(
        MINIO_ENDPOINT,
        access_key=MINIO_ACCESS_KEY,
        secret_key=MINIO_SECRET_KEY,
        secure=False  
    )

def extract_month_from_filename(file_path):
    """–ò–∑–≤–ª–µ–∫–∞–µ—Ç –º–µ—Å—è—Ü –∏–∑ –∏–º–µ–Ω–∏ —Ñ–∞–π–ª–∞ –≤ —Ñ–æ—Ä–º–∞—Ç–µ YYYY-MM"""
    match = re.search(r'(\d{4}-\d{2})', file_path)
    return match.group(1) if match else None

def get_processed_slices(output_bucket, output_prefix):
    """–í–æ–∑–≤—Ä–∞—â–∞–µ—Ç —Å–ø–∏—Å–æ–∫ —É–∂–µ –æ–±—Ä–∞–±–æ—Ç–∞–Ω–Ω—ã—Ö —Å—Ä–µ–∑–æ–≤ –∏–∑ –≤—ã—Ö–æ–¥–Ω–æ–≥–æ –±–∞–∫–µ—Ç–∞ –∏—Å–ø–æ–ª—å–∑—É—è MinIO"""
    try:
        client = get_minio_client()
        processed_slices = set()
        
        # –ü–æ–ª—É—á–∞–µ–º —Å–ø–∏—Å–æ–∫ –æ–±—ä–µ–∫—Ç–æ–≤ –≤ —É–∫–∞–∑–∞–Ω–Ω–æ–º –ø—Ä–µ—Ñ–∏–∫—Å–µ
        objects = client.list_objects(output_bucket, prefix=output_prefix, recursive=True)
        
        for obj in objects:
            # –ò–∑–≤–ª–µ–∫–∞–µ–º –º–µ—Å—è—Ü –∏–∑ –ø—É—Ç–∏
            month = extract_month_from_filename(obj.object_name)
            if month:
                processed_slices.add(month)
        
        print(f"üìÅ –ù–∞–π–¥–µ–Ω–æ –æ–±—Ä–∞–±–æ—Ç–∞–Ω–Ω—ã—Ö —Å—Ä–µ–∑–æ–≤ –≤ {output_bucket}/{output_prefix}: {len(processed_slices)}")
        return processed_slices
        
    except S3Error as e:
        if e.code == 'NoSuchBucket':
            print(f"‚ö†Ô∏è –ë–∞–∫–µ—Ç {output_bucket} –Ω–µ —Å—É—â–µ—Å—Ç–≤—É–µ—Ç –∏–ª–∏ –ø—É—Å—Ç–æ–π")
        else:
            print(f"‚ö†Ô∏è –û—à–∏–±–∫–∞ –ø—Ä–∏ —á—Ç–µ–Ω–∏–∏ {output_bucket} –±–∞–∫–µ—Ç–∞: {e}")
        return set()
    except Exception as e:
        print(f"‚ö†Ô∏è –ù–µ —É–¥–∞–ª–æ—Å—å –ø—Ä–æ—á–∏—Ç–∞—Ç—å {output_bucket} –±–∞–∫–µ—Ç: {e}")
        return set()

def get_input_files_with_months(input_bucket, input_prefix):
    """–í–æ–∑–≤—Ä–∞—â–∞–µ—Ç —Å–ø–∏—Å–æ–∫ —Ñ–∞–π–ª–æ–≤/–ø–∞–ø–æ–∫ –∏–∑ –≤—Ö–æ–¥–Ω–æ–≥–æ –±–∞–∫–µ—Ç–∞ —Å –∏–∑–≤–ª–µ—á–µ–Ω–Ω—ã–º–∏ –º–µ—Å—è—Ü–∞–º–∏ –∏—Å–ø–æ–ª—å–∑—É—è MinIO"""
    try:
        client = get_minio_client()
        input_files = []
        
        # –ü–æ–ª—É—á–∞–µ–º —Å–ø–∏—Å–æ–∫ –æ–±—ä–µ–∫—Ç–æ–≤ –Ω–∞ –ü–ï–†–í–û–ú —É—Ä–æ–≤–Ω–µ –≤–ª–æ–∂–µ–Ω–Ω–æ—Å—Ç–∏ (–Ω–µ —Ä–µ–∫—É—Ä—Å–∏–≤–Ω–æ!)
        objects = client.list_objects(input_bucket, prefix=input_prefix, recursive=False)
        
        for obj in objects:
            object_name = obj.object_name
            
            # –û–ø—Ä–µ–¥–µ–ª—è–µ–º —Ç–∏–ø –æ–±—ä–µ–∫—Ç–∞: —Ñ–∞–π–ª .parquet –∏–ª–∏ –ø–∞–ø–∫–∞
            is_parquet_file = object_name.endswith('.parquet')
            is_folder = not is_parquet_file and object_name.endswith('/')
            
            if is_parquet_file or is_folder:
                month = extract_month_from_filename(object_name)
                if month:
                    # –§–æ—Ä–º–∏—Ä—É–µ–º S3 –ø—É—Ç—å –¥–ª—è Spark
                    s3_path = f"s3a://{input_bucket}/{object_name}"
                    input_files.append({
                        'path': s3_path,
                        'month': month,
                        'file_name': object_name.split('/')[-1] if is_parquet_file else object_name.split('/')[-2] + '/'
                    })
        
        print(f"üìÅ –ù–∞–π–¥–µ–Ω–æ –æ–±—ä–µ–∫—Ç–æ–≤ –≤ {input_bucket}/{input_prefix}: {len(input_files)}")
        return input_files
        
    except Exception as e:
        print(f"‚ùå –û—à–∏–±–∫–∞ –ø—Ä–∏ —á—Ç–µ–Ω–∏–∏ {input_bucket} –±–∞–∫–µ—Ç–∞: {e}")
        return []

def standardize_nyc_taxi_data(input_path, output_path):
    """
    –°—Ç–∞–Ω–¥–∞—Ä—Ç–∏–∑–∏—Ä—É–µ—Ç –¥–∞–Ω–Ω—ã–µ NYC Taxi (–≤–∞—à–∞ —Å—É—â–µ—Å—Ç–≤—É—é—â–∞—è —Ñ—É–Ω–∫—Ü–∏—è –±–µ–∑ –∏–∑–º–µ–Ω–µ–Ω–∏–π)
    """
    output_path = output_path.replace('.parquet', '')
    
    # –ß–∏—Ç–∞–µ–º –∏—Å—Ö–æ–¥–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ
    df = spark.read.parquet(input_path)
    
    # 1. –ü—Ä–∏–≤–æ–¥–∏–º –≤—Å–µ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É
    for col_name in df.columns:
        df = df.withColumnRenamed(col_name, col_name.lower())
    
    # 2. –û–ø—Ä–µ–¥–µ–ª—è–µ–º –º–∞–ø–ø–∏–Ω–≥ —Ç–∏–ø–æ–≤ –¥–ª—è —É–Ω–∏—Ñ–∏–∫–∞—Ü–∏–∏
    type_mapping = {
        "vendorid": IntegerType(),
        "pulocationid": IntegerType(), 
        "dolocationid": IntegerType(),
        "payment_type": IntegerType(),
        "ratecodeid": IntegerType(),
        "passenger_count": IntegerType(),
        "fare_amount": DoubleType(),
        "extra": DoubleType(),
        "mta_tax": DoubleType(),
        "tip_amount": DoubleType(),
        "tolls_amount": DoubleType(),
        "improvement_surcharge": DoubleType(),
        "total_amount": DoubleType(),
        "congestion_surcharge": DoubleType(),
        "airport_fee": DoubleType(),
        "cbd_congestion_fee": DoubleType(),
        "trip_distance": DoubleType()
    }
    
    # 3. –ü—Ä–∏–º–µ–Ω—è–µ–º –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ —Ç–∏–ø–æ–≤ —Å –æ–±—Ä–∞–±–æ—Ç–∫–æ–π –æ—à–∏–±–æ–∫
    for col_name, target_type in type_mapping.items():
        if col_name in df.columns:
            df = df.withColumn(
                col_name, 
                F.coalesce(
                    F.col(col_name).cast(target_type), 
                    F.lit(0 if target_type == IntegerType() else 0.0)
                )
            )
    
    # 4. –ì–∞—Ä–∞–Ω—Ç–∏—Ä—É–µ–º –ø–æ—Ä—è–¥–æ–∫ –∫–æ–ª–æ–Ω–æ–∫ –¥–ª—è consistency
    expected_columns = [
        "vendorid", "tpep_pickup_datetime", "tpep_dropoff_datetime",
        "passenger_count", "trip_distance", "ratecodeid", "store_and_fwd_flag",
        "pulocationid", "dolocationid", "payment_type", "fare_amount", "extra",
        "mta_tax", "tip_amount", "tolls_amount", "improvement_surcharge",
        "total_amount", "congestion_surcharge", "airport_fee", "cbd_congestion_fee"
    ]
    
    # –í—ã–±–∏—Ä–∞–µ–º —Ç–æ–ª—å–∫–æ —Å—É—â–µ—Å—Ç–≤—É—é—â–∏–µ –∫–æ–ª–æ–Ω–∫–∏ –≤ –ø—Ä–∞–≤–∏–ª—å–Ω–æ–º –ø–æ—Ä—è–¥–∫–µ
    final_columns = [col for col in expected_columns if col in df.columns]
    df_standardized = df.select(final_columns)
    
    # 5. –°–æ—Ö—Ä–∞–Ω—è–µ–º —Å –æ–ø—Ç–∏–º–∞–ª—å–Ω—ã–º–∏ –Ω–∞—Å—Ç—Ä–æ–π–∫–∞–º–∏
    (df_standardized
     .coalesce(1)
     .write
     .mode("overwrite")
     .option("compression", "snappy")
     .parquet(output_path)
    )
    
    print(f"‚úÖ –°—Ç–∞–Ω–¥–∞—Ä—Ç–∏–∑–∏—Ä–æ–≤–∞–Ω–æ: {input_path} -> {output_path}")
    return df_standardized

def process_incremental_nyc_taxi_files(input_bucket, input_prefix, output_bucket, output_prefix):
    """–û–±—Ä–∞–±–∞—Ç—ã–≤–∞–µ—Ç —Ç–æ–ª—å–∫–æ –Ω–æ–≤—ã–µ —Ñ–∞–π–ª—ã NYC Taxi –∏–∑ –≤—Ö–æ–¥–Ω–æ–≥–æ –±–∞–∫–µ—Ç–∞ –≤ –≤—ã—Ö–æ–¥–Ω–æ–π"""
    
    # –ü–æ–ª—É—á–∞–µ–º —Å–ø–∏—Å–∫–∏ –æ–±—Ä–∞–±–æ—Ç–∞–Ω–Ω—ã—Ö –∏ –¥–æ—Å—Ç—É–ø–Ω—ã—Ö —Ñ–∞–π–ª–æ–≤ —á–µ—Ä–µ–∑ MinIO
    processed_slices = get_processed_slices(output_bucket, output_prefix)
    input_files = get_input_files_with_months(input_bucket, input_prefix)
    
    # –§–∏–ª—å—Ç—Ä—É–µ–º —Ç–æ–ª—å–∫–æ –Ω–æ–≤—ã–µ —Ñ–∞–π–ª—ã
    new_files = [f for f in input_files if f['month'] not in processed_slices]
    
    print(f"üìä –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞:")
    print(f"   - –í—Å–µ–≥–æ –≤–æ –≤—Ö–æ–¥–Ω–æ–º –±–∞–∫–µ—Ç–µ: {len(input_files)}")
    print(f"   - –£–∂–µ –≤ –≤—ã—Ö–æ–¥–Ω–æ–º –±–∞–∫–µ—Ç–µ: {len(processed_slices)}") 
    print(f"   - –ù–æ–≤—ã—Ö –¥–ª—è –æ–±—Ä–∞–±–æ—Ç–∫–∏: {len(new_files)}")
    
    if not new_files:
        print("üéâ –í—Å–µ —Å—Ä–µ–∑—ã —É–∂–µ –æ–±—Ä–∞–±–æ—Ç–∞–Ω—ã! –ù–∏—á–µ–≥–æ –¥–µ–ª–∞—Ç—å –Ω–µ –Ω—É–∂–Ω–æ.")
        return
    
    # –û–±—Ä–∞–±–∞—Ç—ã–≤–∞–µ–º —Ç–æ–ª—å–∫–æ –Ω–æ–≤—ã–µ —Ñ–∞–π–ª—ã
    for i, file_info in enumerate(new_files, 1):
        input_path = file_info['path']
        file_name = file_info['file_name']
        
        # –§–æ—Ä–º–∏—Ä—É–µ–º –≤—ã—Ö–æ–¥–Ω–æ–π –ø—É—Ç—å, —Å–æ—Ö—Ä–∞–Ω—è—è —Å—Ç—Ä—É–∫—Ç—É—Ä—É –ø–æ—Å–ª–µ –ø—Ä–µ—Ñ–∏–∫—Å–∞
        # –ü—Ä–∏–º–µ—Ä: –≤—Ö–æ–¥–Ω–æ–π –ø—É—Ç—å s3a://bronze/nyc-taxi-data/yellow_tripdata_2022-01
        # –í—ã—Ö–æ–¥–Ω–æ–π –ø—É—Ç—å: s3a://silver/nyc-taxi-data/yellow_tripdata_2022-01
        output_path = f"s3a://{output_bucket}/{output_prefix}{file_name}".replace('.parquet', '')
        
        print(f"üîÑ –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é –Ω–æ–≤—ã–π —Å—Ä–µ–∑ ({i}/{len(new_files)}): {file_info['month']}")
        
        try:
            standardize_nyc_taxi_data(input_path, output_path)
            print(f"‚úÖ –£—Å–ø–µ—à–Ω–æ –æ–±—Ä–∞–±–æ—Ç–∞–Ω: {file_info['month']}")
        except Exception as e:
            print(f"‚ùå –û—à–∏–±–∫–∞ –ø—Ä–∏ –æ–±—Ä–∞–±–æ—Ç–∫–µ {file_info['month']}: {e}")
    
    print(f"üéâ –û–±—Ä–∞–±–æ—Ç–∫–∞ –∑–∞–≤–µ—Ä—à–µ–Ω–∞! –û–±—Ä–∞–±–æ—Ç–∞–Ω–æ {len(new_files)} –Ω–æ–≤—ã—Ö —Å—Ä–µ–∑–æ–≤.")

# –î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–∞—è —Ñ—É–Ω–∫—Ü–∏—è –¥–ª—è –æ—Ç–ª–∞–¥–∫–∏ - –ø—Ä–æ—Å–º–æ—Ç—Ä —Å—Ç—Ä—É–∫—Ç—É—Ä—ã –±–∞–∫–µ—Ç–æ–≤
def inspect_buckets(bucket_name, prefix):
    """–§—É–Ω–∫—Ü–∏—è –¥–ª—è –æ—Ç–ª–∞–¥–∫–∏ - –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç —Å—Ç—Ä—É–∫—Ç—É—Ä—É –±–∞–∫–µ—Ç–æ–≤"""
    try:
        client = get_minio_client()
        
        print(f"üîç –ò–Ω—Å–ø–µ–∫—Ü–∏—è –±–∞–∫–µ—Ç–∞ {bucket_name}/{prefix}:")
        objects = client.list_objects(bucket_name, prefix=prefix, recursive=True)
        for obj in objects:
            print(f"   {bucket_name}: {obj.object_name}")
            
    except Exception as e:
        print(f"‚ùå –û—à–∏–±–∫–∞ –ø—Ä–∏ –∏–Ω—Å–ø–µ–∫—Ü–∏–∏ –±–∞–∫–µ—Ç–∞ {bucket_name}: {e}")


# –û–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö –∏–∑ bronze –≤ silver
process_incremental_nyc_taxi_files(
    input_bucket='bronze', 
    input_prefix='nyc-taxi-data/',
    output_bucket='silver', 
    output_prefix='nyc-taxi-data-norm/'
)