# –ß—Ç–µ–Ω–∏–µ Spark

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

drivers = [
    "/home/jovyan/work/spark-jars/hadoop-aws-3.3.4.jar",             # S3
    "/home/jovyan/work/spark-jars/aws-java-sdk-bundle-1.12.262.jar", # S3
    "/home/jovyan/work/spark-jars/wildfly-openssl-1.0.7.Final.jar",  # S3
    "/home/jovyan/work/spark-jars/postgresql-42.6.0.jar",            # PostgreSQL
]

spark = (SparkSession.builder
         .appName("mustdayker-Spark")
         .master("spark://spark-master:7077") 
         .config("spark.jars", ",".join(drivers))
         .getOrCreate()
        )

## –ß—Ç–µ–Ω–∏–µ —Å –ª–æ–∫–∞–ª—å–Ω–æ–≥–æ –¥–∏—Å–∫–∞ `CSV`

In [ ]:
df = spark.read.csv("/shared_data/bmw.csv", 
                    header=True, 
                    inferSchema=True)

In [ ]:
# –ß—Ç–µ–Ω–∏–µ –≤—Å–µ—Ö —Ñ–∞–π–ª–æ–≤ –∏–∑ –ø–∞–ø–∫–∏
# –í–ê–ñ–ù–û! –ú–æ–∂–Ω–æ —á–∏—Ç–∞—Ç—å —Ç–æ–ª—å–∫–æ –æ–¥–∏–Ω–∞–∫–æ–≤—ã–µ –ø–æ —Å—Ç—Ä—É–∫—Ç—É—Ä–µ —Ñ–∞–π–ª—ã

df = spark.read.csv("/shared_data/*.csv", 
                    header=True)

In [ ]:
# –ß—Ç–µ–Ω–∏–µ —Å –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏
df = (spark.read
      .option("header", "true")
      .option("delimiter", ",")
      .option("inferSchema", "true")
      .option("encoding", "utf-8")
      .option("nullValue", "NULL")
      .csv("/shared_data/bmw.csv"))

In [ ]:
# –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ —Ñ–æ—Ä–º–∞—Ç–∞
df = (spark.read
      .format("csv")
      .option("header", "true")
      .option("inferSchema", "true")
      .load("/shared_data/bmw.csv"))

## –ß—Ç–µ–Ω–∏–µ —Å —É–∫–∞–∑–∞–Ω–∏–µ–º —Å—Ö–µ–º—ã

In [ ]:
# –ß—Ç–µ–Ω–∏–µ CSV —Å —É–∫–∞–∑–∞–Ω–∏–µ–º —Å—Ö–µ–º—ã
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType

# –û–ø—Ä–µ–¥–µ–ª—è–µ–º —Å—Ö–µ–º—É –¥–ª—è CSV —Ñ–∞–π–ª–∞
schema = StructType([
    StructField("Model",                StringType(),  True),
    StructField("Year",                 IntegerType(), True),
    StructField("Region",               StringType(),  True),
    StructField("Color",                StringType(),  True),
    StructField("Fuel_Type",            StringType(),  True),
    StructField("Transmission",         StringType(),  True),
    StructField("Engine_Size_L",        DoubleType(),  True),
    StructField("Mileage_KM",           IntegerType(), True),
    StructField("Price_USD",            IntegerType(), True),
    StructField("Sales_Volume",         IntegerType(), True),
    StructField("Sales_Classification", StringType(),  True)
])
            
df = spark.read.csv("/shared_data/bmw.csv",
                    schema=schema,
                    header=True)

## –ß—Ç–µ–Ω–∏–µ –∏–∑ MinIO `CSV`

In [ ]:
df = (spark.read
           .option("header", "false")
           .csv("s3a://learn-bucket/draft/bmw_csv"))

# Parquet

### –° –ª–æ–∫–∞–ª—å–Ω–æ–≥–æ –¥–∏—Å–∫–∞

In [ ]:
df = spark.read.parquet("/shared_data/yellow_taxi")

In [ ]:
df = spark.read.parquet("/shared_data/yellow_taxi/data_*.parquet")

In [ ]:
df = spark.read.parquet("/shared_data/yellow_taxi/single_file.parquet")

In [ ]:
layer = "silver"

df = (spark.read
      .format("parquet")
      .load([
          f"s3a://{layer}/nyc-taxi-data/yellow_tripdata_2023-*.parquet",
          f"s3a://{layer}/nyc-taxi-data/yellow_tripdata_2024-*.parquet",
          f"s3a://{layer}/nyc-taxi-data/yellow_tripdata_2025-*.parquet",
      ])
     )

In [ ]:
print(f"–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫: {df.count()}\n")
df.show(1)
df.printSchema()

–û—Ç–ª–∏—á–Ω–æ, –ø–æ–Ω—è–ª! –°–æ—Å—Ä–µ–¥–æ—Ç–æ—á–∏–º—Å—è –∏—Å–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ –Ω–∞ —Ç–µ—Ö–Ω–∏–∫–∞—Ö —á—Ç–µ–Ω–∏—è Parquet –≤ PySpark –ø–æ—Å–ª–µ `spark.read`. –í–æ—Ç —à–ø–∞—Ä–≥–∞–ª–∫–∞ —Å –≥–æ—Ç–æ–≤—ã–º–∏ –±–ª–æ–∫–∞–º–∏ –Ω–∞ —Ä–∞–∑–Ω—ã–µ —Å–ª—É—á–∞–∏.

---

# –ß—Ç–µ–Ω–∏–µ `Parquet` –∏–∑ `MinIO` –≤ `PySpark`

### –ë–∞–∑–æ–≤—ã–π —Å–∏–Ω—Ç–∞–∫—Å–∏—Å
```python
# –ú–∏–Ω–∏–º–∞–ª—å–Ω—ã–π –≤–∞—Ä–∏–∞–Ω—Ç
df = spark.read.parquet("s3a://my-bucket/path/to/data/")

# –° —è–≤–Ω—ã–º —É–∫–∞–∑–∞–Ω–∏–µ–º —Ñ–æ—Ä–º–∞—Ç–∞
df = spark.read.format("parquet").load("s3a://my-bucket/path/to/data/")
```

### 1. –ß—Ç–µ–Ω–∏–µ –æ—Ç–¥–µ–ª—å–Ω—ã—Ö —Ñ–∞–π–ª–æ–≤ –∏ –ø–∞–ø–æ–∫
```python
# –ß—Ç–µ–Ω–∏–µ –æ–¥–Ω–æ–π –ø–∞–ø–∫–∏
df = spark.read.parquet("s3a://my-bucket/path/to/folder/")

# –ß—Ç–µ–Ω–∏–µ –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö –ø—É—Ç–µ–π
df = spark.read.parquet(
    "s3a://my-bucket/path1/",
    "s3a://my-bucket/path2/"
)

# –ß—Ç–µ–Ω–∏–µ –∫–æ–Ω–∫—Ä–µ—Ç–Ω–æ–≥–æ —Ñ–∞–π–ª–∞
df = spark.read.parquet("s3a://my-bucket/path/to/file.parquet")
```

### 2. –ß—Ç–µ–Ω–∏–µ –ø–∞—Ä—Ç–∏—Ü–∏–æ–Ω–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö
```python
# –ê–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–æ–µ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –ø–∞—Ä—Ç–∏—Ü–∏–π (Hive-style)
# –°—Ç—Ä—É–∫—Ç—É—Ä–∞: s3a://.../date=2024-01-01/country=US/...
df = spark.read.parquet("s3a://my-bucket/partitioned_data/")

# –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –ø—Ä–∏ —á—Ç–µ–Ω–∏–∏ –ø–∞—Ä—Ç–∏—Ü–∏–π
df = spark.read.parquet("s3a://my-bucket/partitioned_data/") \
    .filter("date >= '2024-01-01' AND country = 'US'")
```

### 3. –£–ø—Ä–∞–≤–ª–µ–Ω–∏–µ —Å—Ö–µ–º–æ–π –¥–∞–Ω–Ω—ã—Ö
```python
# –ê–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏–π –≤—ã–≤–æ–¥ —Å—Ö–µ–º—ã (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é)
df = spark.read.parquet("s3a://my-bucket/path/")

# –ü—Ä–∏–Ω—É–¥–∏—Ç–µ–ª—å–Ω–∞—è —Å—Ö–µ–º–∞ (–µ—Å–ª–∏ —Ö–æ—Ç–∏—Ç–µ –∫–æ–Ω—Ç—Ä–æ–ª–∏—Ä–æ–≤–∞—Ç—å —Ç–∏–ø—ã)
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

custom_schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("value", IntegerType(), True)
])

df = spark.read.schema(custom_schema).parquet("s3a://my-bucket/path/")

# –ü—Ä–æ—Å–º–æ—Ç—Ä —Å—Ö–µ–º—ã –ø–æ—Å–ª–µ —á—Ç–µ–Ω–∏—è
df.printSchema()
```

### 4. –û–ø—Ü–∏–∏ —á—Ç–µ–Ω–∏—è –¥–ª—è –ø—Ä–æ–∏–∑–≤–æ–¥–∏—Ç–µ–ª—å–Ω–æ—Å—Ç–∏
```python
df = spark.read \
    .option("mergeSchema", "true") \  # –û–±—ä–µ–¥–∏–Ω—è—Ç—å —Å—Ö–µ–º—ã –∏–∑ —Ä–∞–∑–Ω—ã—Ö —Ñ–∞–π–ª–æ–≤
    .option("recursiveFileLookup", "true") \  # –ò–≥–Ω–æ—Ä–∏—Ä–æ–≤–∞—Ç—å –ø–∞—Ä—Ç–∏—Ü–∏–∏ –ø—Ä–∏ –ø–æ–∏—Å–∫–µ —Ñ–∞–π–ª–æ–≤
    .parquet("s3a://my-bucket/path/")
```

### 5. –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –ø—Ä–∏ —á—Ç–µ–Ω–∏–∏ (–ø—Ä–µ–¥–∏–∫–∞—Ç–Ω—ã–π –ø—É—à–¥–∞—É–Ω)
```python
# –≠—Ñ—Ñ–µ–∫—Ç–∏–≤–Ω–∞—è —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—è - –º–∏–Ω–∏–º–∏–∑–∏—Ä—É–µ—Ç —á—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö
df = spark.read.parquet("s3a://my-bucket/path/") \
    .select("id", "name", "date") \
    .filter("date >= '2024-01-01' AND status = 'active'")
```

### 6. –ß—Ç–µ–Ω–∏–µ –ø–æ–¥–º–Ω–æ–∂–µ—Å—Ç–≤–∞ –∫–æ–ª–æ–Ω–æ–∫ (column pruning)
```python
# –ß—Ç–µ–Ω–∏–µ —Ç–æ–ª—å–∫–æ –Ω—É–∂–Ω—ã—Ö –∫–æ–ª–æ–Ω–æ–∫ - —É—Å–∫–æ—Ä—è–µ—Ç —Ä–∞–±–æ—Ç—É
df = spark.read.parquet("s3a://my-bucket/path/") \
    .select("id", "name", "timestamp")
```

### 7. –ü–∞–∫–µ—Ç–Ω–æ–µ —á—Ç–µ–Ω–∏–µ –¥–ª—è –∏–Ω–∫—Ä–µ–º–µ–Ω—Ç–∞–ª—å–Ω–æ–π –æ–±—Ä–∞–±–æ—Ç–∫–∏
```python
# –ß—Ç–µ–Ω–∏–µ —Ç–æ–ª—å–∫–æ –Ω–æ–≤—ã—Ö –ø–∞—Ä—Ç–∏—Ü–∏–π
df_new = spark.read.parquet(
    "s3a://my-bucket/data/date=2024-01-15/",
    "s3a://my-bucket/data/date=2024-01-16/"
)
```

### 8. –°–æ–∑–¥–∞–Ω–∏–µ –≤—Ä–µ–º–µ–Ω–Ω–æ–≥–æ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∏—è –¥–ª—è SQL
```python
# –ß—Ç–µ–Ω–∏–µ –∏ —Å–æ–∑–¥–∞–Ω–∏–µ SQL –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∏—è
df = spark.read.parquet("s3a://my-bucket/path/")
df.createOrReplaceTempView("my_table")

# –¢–µ–ø–µ—Ä—å –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –≤ SQL
result = spark.sql("""
    SELECT * FROM my_table 
    WHERE date >= '2024-01-01'
    ORDER BY timestamp DESC
""")
```

### 9. –ß—Ç–µ–Ω–∏–µ —Å –æ–±—Ä–∞–±–æ—Ç–∫–æ–π –æ—à–∏–±–æ–∫
```python
df = spark.read \
    .option("mode", "PERMISSIVE") \  # –∏–ª–∏ FAILFAST, DROPMALFORMED
    .parquet("s3a://my-bucket/path/")
```

### 10. –ü–∞—Ç—Ç–µ—Ä–Ω –¥–ª—è ETL –ø—Ä–æ—Ü–µ—Å—Å–∞
```python
def read_parquet_from_minio(path, selected_columns=None, filters=None):
    """–£–Ω–∏–≤–µ—Ä—Å–∞–ª—å–Ω–∞—è —Ñ—É–Ω–∫—Ü–∏—è –¥–ª—è —á—Ç–µ–Ω–∏—è Parquet"""
    df = spark.read.parquet(path)
    
    if selected_columns:
        df = df.select(*selected_columns)
    
    if filters:
        df = df.filter(filters)
    
    return df

# –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ
df = read_parquet_from_minio(
    path="s3a://my-bucket/data/",
    selected_columns=["id", "name", "value"],
    filters="value > 100"
)
```

### –°–∞–º—ã–µ —á–∞—Å—Ç—ã–µ —Å—Ü–µ–Ω–∞—Ä–∏–∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è:

**–î–ª—è –±—ã—Å—Ç—Ä–æ–≥–æ –∞–Ω–∞–ª–∏–∑–∞:**
```python
df = spark.read.parquet("s3a://my-bucket/path/")
df.show()
df.printSchema()
```

**–î–ª—è ETL –ø—Ä–æ—Ü–µ—Å—Å–∞:**
```python
df = spark.read.parquet("s3a://my-bucket/source/") \
    .select("col1", "col2", "date") \
    .filter("date >= '2024-01-01'") \
    .groupBy("col1") \
    .count()
```

**–î–ª—è SQL –∞–Ω–∞–ª–∏–∑–∞:**
```python
spark.read.parquet("s3a://my-bucket/data/").createOrReplaceTempView("source_table")
result = spark.sql("SELECT * FROM source_table WHERE value > 100")
```

–í—Å–µ —ç—Ç–∏ –ø–æ–¥—Ö–æ–¥—ã –±—É–¥—É—Ç —Ä–∞–±–æ—Ç–∞—Ç—å —Å –≤–∞—à–∏–º –Ω–∞—Å—Ç—Ä–æ–µ–Ω–Ω—ã–º –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ–º –∫ MinIO —á–µ—Ä–µ–∑ `s3a://` –ø—É—Ç–∏.

In [ ]:
spark.stop()

# Postgres

In [ ]:
jdbc_url = "jdbc:postgresql://postgres-db:5432/learn_base"

postgres_con = {
    "user": "airflow",
    "password": "airflow", 
    "driver": "org.postgresql.Driver"
}
# –ü—Ä–∏–º–µ—Ä 1: –ß–∏—Ç–∞–µ–º –¥–∞–Ω–Ω—ã–µ
df = (spark.read.jdbc(url=jdbc_url, 
                      table="–∫–∞–∫–æ–π_–∫–∞–π—Ñ", 
                      properties=postgres_con))

df.show()

# –ß—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –∏–∑ `PostgreSQL` –≤ `Spark DataFrame`

## 1. –ë–∞–∑–æ–≤—ã–π –≤–∞—Ä–∏–∞–Ω—Ç
```python
df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/mydb") \
    .option("dbtable", "table_name") \
    .option("user", "username") \
    .option("password", "password") \
    .load()
```

## 2. –ö–æ—Ä–æ—Ç–∫–∏–π –≤–∞—Ä–∏–∞–Ω—Ç —á–µ—Ä–µ–∑ jdbc()
```python
df = spark.read.jdbc(
    url="jdbc:postgresql://localhost:5432/mydb",
    table="table_name",
    properties={
        "user": "username",
        "password": "password", 
        "driver": "org.postgresql.Driver"
    }
)
```

## 3. –ß—Ç–µ–Ω–∏–µ —Å SQL –∑–∞–ø—Ä–æ—Å–æ–º
```python
df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/mydb") \
    .option("user", "username") \
    .option("password", "password") \
    .option("driver", "org.postgresql.Driver") \
    .option("query", "SELECT * FROM users WHERE age > 18 AND city = 'Moscow'") \
    .load()
```

## 4. –ü–∞—Ä–∞–ª–ª–µ–ª—å–Ω–æ–µ —á—Ç–µ–Ω–∏–µ —Å –ø–∞—Ä—Ç–∏—Ü–∏–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ–º
```python
df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/mydb") \
    .option("dbtable", "large_table") \
    .option("user", "username") \
    .option("password", "password") \
    .option("partitionColumn", "id") \     # –∫–æ–ª–æ–Ω–∫–∞ –¥–ª—è –ø–∞—Ä—Ç–∏—Ü–∏–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è
    .option("lowerBound", "1") \           # –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ
    .option("upperBound", "1000000") \     # –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ  
    .option("numPartitions", "10") \       # –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–∞—Ä—Ç–∏—Ü–∏–π
    .load()
```

## 5. –ß—Ç–µ–Ω–∏–µ —Å —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–µ–π —á–µ—Ä–µ–∑ predicates
```python
predicates = [
    "date >= '2024-01-01' AND date < '2024-02-01'",  # –ø–∞—Ä—Ç–∏—Ü–∏—è 1
    "date >= '2024-02-01' AND date < '2024-03-01'",  # –ø–∞—Ä—Ç–∏—Ü–∏—è 2
    "date >= '2024-03-01' AND date < '2024-04-01'"   # –ø–∞—Ä—Ç–∏—Ü–∏—è 3
]

df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/mydb") \
    .option("dbtable", "sales") \
    .option("user", "username") \
    .option("password", "password") \
    .option("predicates", predicates) \
    .load()
```

## 6. –ß—Ç–µ–Ω–∏–µ —Å –∫–∞—Å—Ç–æ–º–Ω—ã–º–∏ –Ω–∞—Å—Ç—Ä–æ–π–∫–∞–º–∏
```python
df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/mydb") \
    .option("dbtable", "table_name") \
    .option("user", "username") \
    .option("password", "password") \
    .option("driver", "org.postgresql.Driver") \
    .option("fetchsize", "10000") \          # —Ä–∞–∑–º–µ—Ä fetch –¥–ª—è –±–æ–ª—å—à–∏—Ö –¥–∞–Ω–Ω—ã—Ö
    .option("sessionInitStatement", "SET TIME ZONE 'UTC'") \  # –∏–Ω–∏—Ü–∏–∞–ª–∏–∑–∞—Ü–∏—è —Å–µ—Å—Å–∏–∏
    .option("customSchema", "id DECIMAL(38,0), name STRING") \  # –∫–∞—Å—Ç–æ–º–Ω—ã–µ —Ç–∏–ø—ã
    .load()
```

## 7. –ß—Ç–µ–Ω–∏–µ —Ç–æ–ª—å–∫–æ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω—ã—Ö –∫–æ–ª–æ–Ω–æ–∫
```python
# –ß–µ—Ä–µ–∑ SQL –∑–∞–ø—Ä–æ—Å
df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/mydb") \
    .option("user", "username") \
    .option("password", "password") \
    .option("query", "SELECT id, name, email FROM users WHERE active = true") \
    .load()

# –ß–µ—Ä–µ–∑ dbtable —Å –ø–æ–¥–∑–∞–ø—Ä–æ—Å–æ–º
df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/mydb") \
    .option("user", "username") \
    .option("password", "password") \
    .option("dbtable", "(SELECT id, name FROM users) AS users_subset") \
    .load()
```

## 8. –ü–æ–ª–Ω—ã–π –ø—Ä–∏–º–µ—Ä —Å –æ–±—Ä–∞–±–æ—Ç–∫–æ–π –æ—à–∏–±–æ–∫
```python
def read_from_postgres(table_name_or_query, **options):
    try:
        base_options = {
            "url": "jdbc:postgresql://localhost:5432/mydb",
            "user": "username",
            "password": "password",
            "driver": "org.postgresql.Driver"
        }
        base_options.update(options)
        
        # –û–ø—Ä–µ–¥–µ–ª—è–µ–º, —ç—Ç–æ —Ç–∞–±–ª–∏—Ü–∞ –∏–ª–∏ –∑–∞–ø—Ä–æ—Å
        if "SELECT" in table_name_or_query.upper():
            base_options["query"] = table_name_or_query
        else:
            base_options["dbtable"] = table_name_or_query
            
        df = spark.read.format("jdbc").options(**base_options).load()
        
        print(f"‚úÖ –î–∞–Ω–Ω—ã–µ –ø—Ä–æ—á–∏—Ç–∞–Ω—ã: {len(df.columns)} –∫–æ–ª–æ–Ω–æ–∫, {df.count()} —Å—Ç—Ä–æ–∫")
        return df
        
    except Exception as e:
        print(f"‚ùå –û—à–∏–±–∫–∞ —á—Ç–µ–Ω–∏—è: {str(e)}")
        return None

# –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ
df1 = read_from_postgres("users")
df2 = read_from_postgres("SELECT * FROM orders WHERE status = 'completed'")
df3 = read_from_postgres("large_table", numPartitions=10, partitionColumn="id")
```

## 9. –£–Ω–∏–≤–µ—Ä—Å–∞–ª—å–Ω–∞—è —Ñ—É–Ω–∫—Ü–∏—è —á—Ç–µ–Ω–∏—è
```python
def postgres_to_spark(source, **options):
    """
    source: –∏–º—è —Ç–∞–±–ª–∏—Ü—ã –∏–ª–∏ SQL –∑–∞–ø—Ä–æ—Å
    """
    base_config = {
        "url": "jdbc:postgresql://localhost:5432/mydb",
        "user": "username",
        "password": "password",
        "driver": "org.postgresql.Driver",
        "fetchsize": 10000
    }
    base_config.update(options)
    
    reader = spark.read.format("jdbc")
    
    if "SELECT" in source.upper():
        reader.option("query", source)
    else:
        reader.option("dbtable", source)
    
    return reader.options(**base_config).load()

# –ü—Ä–∏–º–µ—Ä—ã –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è
df_table = postgres_to_spark("products")
df_query = postgres_to_spark("SELECT * FROM sales WHERE amount > 1000")
df_partitioned = postgres_to_spark(
    "large_table",
    partitionColumn="id",
    lowerBound=1,
    upperBound=1000000,
    numPartitions=8
)
```

–í—Å–µ –≤–∞—Ä–∏–∞–Ω—Ç—ã –≥–æ—Ç–æ–≤—ã –∫ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—é! üöÄ